<h1>Looking For a Group</h1>
<div class="row">
    <div class="col-md-6">

                <label>Games</label>
                <select class="form-control" #gs>
                <option value="">Select a Game</option>
                <option *ngFor="let game of games" value="{{ game }}">
                    {{game}}
                </option>
                </select>
                
                <label>Team Type</label>
                <select class="form-control" #tt>
                <option value="">Select a team style</option>
                <option *ngFor="let team of teams" value="{{ team }}">
                    {{team}}
                </option>
                </select>
                
                <label>Event/Match</label>
                <select class="form-control" #em>
                <option value="">Event or Match</option>
                <option *ngFor="let em of ems" value="{{ em }}">
                    {{em}}
                </option>
                </select>
                
                <div>
                    <label>Start Time</label>
                    <input type="time" #stm>
                    <label>Duration</label>
                    <input type="text" #dua>
                    <div>
                    <label>Discription</label>
                    <input type="text" #dcp>
                    </div>
                </div>
                
        <a (click)="create(gs.value,tt.value,em.value,stm.value,dua.value,dcp.value)" class="btn btn-primary">Create a team request</a>
    </div>
    
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Game</th>
			<th>Team</th>
			<th>Event/Match</th>
			<th>Start Time</th>
			<th>Duration</th>
			<th>Discription</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let uid of requests | async">
			<td>{{ uid.Request.game }}</td>
			<td>{{ uid.Request.team }}</td>
			<td>{{ uid.Request.em }}</td>
			<td>{{ uid.Request.startime }}</td>
			<td>{{ uid.Request.duration }}</td>
			<td>{{ uid.Request.discription }}</td>
			<!--<td>-->
   <!--             <a [routerLink]="['/users', user.id]">-->
   <!--                 <i class="glyphicon glyphicon-edit"></i>-->
   <!--             </a>-->
			<!--</td>-->
			<td>
                <i (click)="deleterequest(uid)" class="glyphicon glyphicon-remove clickable"></i>
            </td>
		</tr>
	</tbody>
</table>