<h1>Update Profile</h1>
<div class="row">
    <div class="col-md-6 well">
                <legend>
                    Profile
                </legend>
                <div>
                    <label>Name</label>
                    <div><input type="text" #nam></div>
                </div>
                <div>
                    <label>Age</label>
                    <div><input type="text" #age></div>
                </div>
                <div>
                    <label>Player ID</label>
                    <div><input type="text" #pid></div>
                </div>
                <div>
                    <label>Regular play time</label>
                    <div><input type="text" #rpt></div>
                </div>
                
                <label>Supported Games Camp</label>
                <select class="form-control" #sgc>
                <option value="">Select a camp</option>
                <option *ngFor="let game of games" value="{{ game }}">
                    {{game}}
                </option>
                </select>
                
                <label>Games Style</label>
                <select class="form-control" #gs>
                <option value="">Select a style</option>
                <option *ngFor="let mode of modes" value="{{ mode }}">
                    {{mode}}
                </option>
                </select>
                
                <label>Characters</label>
                <form #cha>
                     <p><input type="checkbox" name="character" value="mega" />mega</p>
                     <p><input type="checkbox" name="character" value="rouge" />rouge</p>
                     <p><input type="checkbox" name="character" value="warrior" />warrior</p>
                     <p><input type="checkbox" name="character" value="warrior" />monk</p>
                     <p><input type="checkbox" name="character" value="druid" />druid</p>
                 <!--<input type="submit" value="Submit" />-->
                </form>
                
    </div>
</div>
<div><a (click)="save(nam.value,age.value,pid.value,rpt.value,sgc.value,gs.value)" class="btn btn-primary">Update Profile</a></div>