<h1>Login Page</h1>
<p>
    <a *ngIf="isLoggedIn" (click)="logout()" class="btn btn-primary">Logout</a>
    <a *ngIf="isLoggedIn" routerLink="/users/new" class="btn btn-primary">Update Profile</a>
</p>

<div>Hello {{displayName}}</div>
<img src="{{ photoURL }}" alt="">
<div *ngIf="error">{{ error }}</div>

<!--loginform-->
<div *ngIf="!isLoggedIn" class="row">
    <div class="col-md-6 well">
                <div>
                    <label>Email</label>
                    <div><input type="text" #eml></div>
                </div>
                <div>
                    <label>Password</label>
                    <div><input type="password" #psw></div>
                </div>
<a (click)="login(eml.value,psw.value)" class="btn btn-primary">Login</a>
<a (click)="register(eml.value,psw.value)" class="btn btn-primary">Register</a>
<a (click)="loginfacebook()" class="btn btn-primary">Login-Facebook</a>
<a (click)="reset(eml.value)" class="btn btn-primary">Reset Password</a>
</div>
</div>
<!--<table class="table table-bordered">-->
<!--	<thead>-->
<!--		<tr>-->
<!--			<th>Name</th>-->
<!--			<th>Email</th>-->
<!--			<th>Edit</th>-->
<!--			<th>Delete</th>-->
<!--		</tr>-->
<!--	</thead>-->
<!--	<tbody>-->
<!--		<tr *ngFor="let user of users">-->
<!--			<td>{{ user.name }}</td>-->
<!--			<td>{{ user.email }}</td>-->
<!--			<td>-->
<!--                <a [routerLink]="['/users', user.id]">-->
<!--                    <i class="glyphicon glyphicon-edit"></i>-->
<!--                </a>-->
<!--			</td>-->
<!--			<td>-->
<!--                <i (click)="deleteUser(user)" class="glyphicon glyphicon-remove clickable"></i>-->
<!--            </td>-->
<!--		</tr>-->
<!--	</tbody>-->
<!--</table>-->