<navbar></navbar>
<div class="container">
<!--<h1>-->
<!--  {{title}}-->
<!--</h1>-->
<!--<button (click)="add()">Add</button>-->
<!--<button (click)="update()">Update</button>-->
<!--<ul><li *ngFor="let c of cuisines | async">{{ c.$value }}</li></ul>-->
<!--{{ (restaurant | async)?.name }}-->
<!--<ul>-->
<!--    <li><a routerLink="Login">Login</a></li>-->
<!--    <li><a routerLink="Creation">Creation</a></li>-->
<!--    <li><a routerLink="Profile">Profile</a></li>-->
<!--</ul>-->
<router-outlet></router-outlet>
</div>