<nav class="navbar navbar-default">
  <div class="container-fluid">
     Brand and toggle get grouped for better mobile display 
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="">Orange World of Warcraft LFG</a>
    </div>

     Collect the nav links, forms, and other content for toggling 
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="users" routerLinkActive="active">Login</a></li>
        <li><a routerLink="posts" routerLinkActive="active">LFG</a></li>
        <li><a routerLink="games" routerLinkActive="active">Game</a></li>
        <!--<li><button (click)="logout()">Logout</button></li>-->
      </ul>           
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>