<h1>Game Page</h1>
<h3>Supported Game: World of Warcraft</h3>
<a routerLink="/games/detail"><img src="https://firebasestorage.googleapis.com/v0/b/project-12c97.appspot.com/o/game-logo-wow.png?alt=media&token=a4e59609-afab-45ce-81a0-b6e5739fe727"></a>



<div><a href="http://us.battle.net/en/">Available Platforms:PC only</a></div>
<h4>Available Characters:</h4>
<div><a href="https://worldofwarcraft.com/en-gb/game/races/human"><img src="https://firebasestorage.googleapis.com/v0/b/project-12c97.appspot.com/o/human.png?alt=media&token=c2efc2d9-ee1e-4f43-aa2a-fa416d35fffe"></a>
<a href="https://worldofwarcraft.com/en-gb/game/races/night-elf"><img src="https://firebasestorage.googleapis.com/v0/b/project-12c97.appspot.com/o/nightelf.png?alt=media&token=c1406957-d15c-446e-8bf6-08e87925f17b"></a>
<a href="https://worldofwarcraft.com/en-gb/game/races/dwarf"><img src="https://firebasestorage.googleapis.com/v0/b/project-12c97.appspot.com/o/dwarf.png?alt=media&token=63e2b79d-3f6a-40bc-b3ef-90defe55f085"></a></div>
<div><a href="https://worldofwarcraft.com/en-gb/game/races/orc"><img src="https://firebasestorage.googleapis.com/v0/b/project-12c97.appspot.com/o/orc.png?alt=media&token=3afadc0e-12b2-4860-b2c6-2c7f07a41ba6"></a>
<a href="https://worldofwarcraft.com/en-gb/game/races/undead"><img src="https://firebasestorage.googleapis.com/v0/b/project-12c97.appspot.com/o/undead.png?alt=media&token=e264f35c-728c-44f2-9fcb-1d77fd9369e2"></a>
<a href="https://worldofwarcraft.com/en-gb/game/races/tauren"><img src="https://firebasestorage.googleapis.com/v0/b/project-12c97.appspot.com/o/tauren.png?alt=media&token=c7571a58-89ec-46e6-ac24-1156b34b74de"></a></div>